/* Header Mobile  */
.header-mobile {
  width: 100vw;
  margin: 0 auto;
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
.header-mobile:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Header  */
/* Nav Bar */
.lang {
  width: 35px;
}
.logo {
  font-size: 1.1rem;
}
.nav-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  z-index: 1;
}
.container .menu-icon {
  color: #3b3b3b;
  cursor: pointer;
  z-index: 2;
}
.menu-icon {
  font-size: 35px;
}
.menu-container {
  height: 0%;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #3b3b3b;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.menu-content {
  position: relative;
  top: 25%;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
}
.menu-content a {
  padding: 16px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  display: block;
  font-family: 'airbnb_cereal_appmedium';
  transition: 0.3s ease-in-out;
}
.menu-content a:hover {
  color: #ff5a5f;
}
.menu-container .closebtn {
  position: absolute;
  top: 36px;
  right: 48px;
  font-size: 40px;
  color: white;
  z-index: 1;
  cursor: pointer;
}
/* Nav Bar Mobile */
.body-container {
  width: 90vw;
  margin: 0 auto;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-size: 32px;
  text-align: center;
  width: 220px;
}
.hero p {
  font-size: 18px;
  text-align: center;
  width: 260px;
}
.button {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
}
.cta-top {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  z-index: -2;
}
.stacker {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
}
.cta-top h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  color: white;
}
.cta-top .button {
  border: none;
}
.cta-top-img {
  object-fit: cover;
  width: 100vw;
  height: 400px;
}
.bottom {
  margin-top: 50px;
}
.features {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divider {
  width: 20vw;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 10px;
}
.features h3 {
  text-align: center;
  width: 60vw;
}
.feature {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.feature h4 {
  font-size: 1.15rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
}
.feature p {
  text-align: center;
  margin-top: 5px;
}
.background {
  background-color: #f6f6f6;
  width: 100%;
}
.bottom-nav {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding-top: 100px;
}
.bottom-nav a {
  margin-top: 22px;
  margin-bottom: 22px;
  text-decoration: none;
  color: black;
}
.social {
  display: flex;
  flex-direction: column;
}
.f-divider {
  width: 80vw;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 22px;
}
.social-conatiner {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.kin {
  font-size: 1.15rem;
  text-decoration: none;
  color: black;
  flex-grow: 2;
}
.s-logos img {
  width: 30px;
  flex-grow: 1;
  margin-left: 12px;
}
